.{
	font-size: 12px;
	color: #0a0;
}

window#waybar {
	background: transparent;
	border: none;
	box-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
	background: rgba(50, 100, 50, 0.5);
	border-radius: 5px;
}

#workspaces button {
	color: #080;
	padding: 2px;
}

#workspaces button.active {
	color: #0f0;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.1);
	border: none;
	box-shadow: none;
	text-shadow: none;
	color: #0a0;	
}

#clock {
	font-weight: bold;
	padding: 0 5px;
}

#window {
	padding: 0 5px 0 10px;
}

#workspaces,
#pulseaudio,
#backlight,
#network,
#custom-wireguard,
#cpu,
#memory,
#battery,
#tray {
	padding: 0 5px;
	border-right: 1px solid #090;
}

#pulseaudio {
	padding-right: 10px;
}

#pulseaudio:hover,
#custom-wireguard:hover {
	color: #0f0;
}

#custom-power {
	padding: 0 5px;
	font-size: 20px;
}

#custom-power:hover {
  color: #f00;
}
