.{
  font-size: 12px;
  color: #0a0;
}

window#waybar {
  background: transparent;
  border: none;
  box-shadow: none;
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(50, 100, 50, 0.5);
  border-radius: 5px;
}

#workspaces button {
  color: #050;
  padding: 2px;
}

#workspaces button.active {
  color: #0f0;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #0a0;	
}

#clock {
  font-weight: bold;
  padding: 0 5px;
}

#pulseaudio {
  padding: 0 5px;
}

#pulseaudio:hover {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: #0a0;
}

#custom-power {
  font-size: 16px;
  margin: 0 4px;
  padding: 0 4px;
  color: #0f0;
}

#custom-power:hover {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #f38ba8;
}
